<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <main>
        <p>
            we have <%= finalResult.length %> books in the library
        </p>
        <ul>
            <% finalResult.forEach(bookItem=>{ %>

            <img class="bookCover" src="<%= bookItem.image_url %>">
            <h2 class="bookTitle"><%= bookItem.title %></h2>
            <h4 class="bookAuthor"> <%= bookItem.author %> </h4>
            <form action="/books/<%=bookItem.id%>" method="GET">
                <button type="submit">View Details</button>
            </form>

            <% }); %>
        </ul>
    </main>
</body>
</html>
