<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book-app</title>
    <%- include('../layout/head') %>

</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%- include('../layout/header') %>
    <main>
        <h1>HOME PAGE</h1>
        <br> <br>
        <h2>Here you can search and save your favorit books </h2>
        <br>
        <h3>
            <%= finalResult.length %> Saved Books
        </h3>
        <ul>
            <% finalResult.forEach(book=>{ %>
            <li>
                <div id='result'>
                    <img src="<%= book.image_url %>"> <br>
                    <h2><%= book.title %></h2>
                    <h3> <%= book.author %> </h3>
                    <a href="/books/<%= book.id%>"><button>View Details</button></a> <br>
                </div>
            </li>
            <% }); %>
        </ul>
    </main>
    <%- include('../layout/footer') %>
</body>

<script>
    $('#updateDataForm').hide();
    $('#showform').click(() => {
        $('#updateDataForm').slideToggle();
    })
    $(".tabs").hide();
    $("#burger").click(() => {
        $(".tabs").slideToggle();
    });
</script>

</html>